CMakeFiles
CMakeCache.txt
Makefile
deadSurvivors_inator
compile_commands.json
*.cmake
_CMakeLists.txt

Debug
Release
x64
x86 
.vs
*.vcxproj*
*.sln
*.exe

_compile_shaders.bat
res/fonts/test/*
sample.txt
saveData.json
TODO.txt
